*.svn
*.project
*.classpath
*.settings
*.myeclipse
*.mymetadata
**/META-INF/
**/classes/
**/bin/
src/config.properties
/PackWar.iml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
PackWar.iml
out/artifacts/PackWar_Web_exploded/WEB-INF/lib/
out/artifacts/PackWar_Web_exploded/WEB-INF/web.xml
out/artifacts/PackWar_Web_exploded/index.jsp
out/artifacts/PackWar_Web_exploded/pages/
out/artifacts/PackWar_Web_exploded/scripts/
/.idea/
/.idea/artifacts/PackWar_Web_exploded.xml
/.idea/artifacts/
